<h1>No addresses left!</h1>

<p>Great work! If someone tells you there are more addresses available, click the button below.</p>

<p class="menu">
  <%= link_to 'Try again', next_addresses_path, class: :button %>
</p>
