<h1>Your address was returned to the pool.</h1>

You can get a new one or just close this window if you are done.

<p class="menu">
  <%= link_to 'Get a new address', next_addresses_path, class: :button %>
</p>
